In [1]:
import pandas as pd

Importing Pandas library as pd.

In [2]:
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df=pd.read_csv(url)

In [3]:
print("First 5 rows:")
print(df.head())

First 5 rows:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Printing first 5 rows of a dataset

In [4]:
print("\n Shape:", df.shape)
print("\n Data Types:")
print(df.dtypes)

 Shape: (244, 7)

 Data Types:
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [5]:
print("\n Summary Statistics:")
print(df.describe())

 Summary Statistics:
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
df['tip_percent']=round((df['tip']/df['total_bill'])*100,2)

In [7]:
high_tippers=df[df['tip_percent']>20]

In [8]:
df.to_csv("transformed_tips.csv",index=False)
high_tippers.to_csv("high_tippers.csv",index=False)

print("\n Done! 2 new CSVs created.")

 Done! 2 new CSVs created.

Converting dataframe to csv file (Comma seperated values)